div.booking-form {
    input#passwordEnter,
    input#emailEnter {
        min-width: 30.0rem;
        max-width: 70% !important;
    }
}

div.button-float-right {
    float: right;
}

button.tab-button {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: $color-p900;
    border: 1px solid $color-p300;
    border-bottom: 0px;
    padding: 0.5rem 1.0rem;
    &:hover {
        background-color: $color-c500;   
    }
    &.active {
        background-color: $color-p300;
        color: $color-p900;
    }
}

.pane-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.0rem;

    @include for-tablet-only() {
        grid-template-columns: 1fr 1fr;
    }
    @include for-phone-only() {
        grid-template-columns: 1fr;
    }

    .admin-pane {
        padding: 0.5rem 1.0rem;
        border-radius: 0.5rem;
        border: 1px solid $color-p300;
        background-color: lighten($color-p900, 2.5%);

        input[type=text] {
            width: 90%;
        }

        textarea {
            display: block;
            width: 90%;
            background-color: $color-c900;
            resize: none;
            padding: 0.1rem 1.0rem;
            border-radius: 0.5rem;
            margin-bottom: 0.75rem;
        }

        button {
            @include common-button;
            @include blue-button;
            &:hover {
                @include orange-button
            }
            &.confirm {
                float: right;
                margin-left: 1.0rem;
            }
            &.reject {
                @include red-button;
            }
        }
    }
}

.invite-pane {
    max-width: 400px;

    input[type=text] {
        width: 100%;
    }
    
    button {
        @include common-button;        
        @include blue-button;
        &:hover {
            @include orange-button;
        }
    }

}

.success-box, .alert-box, .warn-box {
    position: fixed;
    width: 100%;
    max-width: 1200px;
    top: 0px;

    @include for-tablet-down() {
        max-width: calc(100% - 3.0rem);
    }
    p {
        padding: 0.5rem 1.0rem;
        display: inline;
        float: right;
        width: 250px;
        border-radius: 0.5rem;
        @include for-phone-only() {
            display: inline-block;
            float:none;
            width: 90%;
            margin: 10px auto;
            text-align: center;
        }
    }
}

.success-box {
    p {
        background-color: $color-lightgreen;
        border: 1px solid darken($color-lightgreen, 50%);
    }
}

.alert-box {
    p {
        background-color: $color-c700;
        border: 1px solid $color-c300;
        color: $color-c100;
    }
}

.warn-box {
    p {
        background-color: $color-lightred;
        border: 1px solid darken($color-lightred, 50%);
    }
}

.club-add-button {
    @include common-button;
    @include blue-button;
    float: right;
    &:hover {
        @include orange-button;
    }
}

.two-segment {

    p {
        padding: 0;
        margin: 0;
    }

    .button-container {
        margin-bottom: 1.0rem;
        
        button.left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-color: $color-g900;
            color: $color-g100;
            &:hover {
                @include orange-button;
            }
            &:disabled {
                background-color: $color-g700;
                color: $color-g700;
                &:hover {
                    color: $color-g700;
                }
            }
        }

        button.right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0 !important;
            background-color: $color-g900;
            color: $color-g100;
            &:hover {
                @include orange-button;
            }
            &:disabled {
                background-color: $color-g700;
                color: $color-g700;
                &:hover {
                    color: $color-g700;
                }
            }
        }

        button.right.active, button.left.active {
            @include blue-button;
            &:hover {
                @include blue-button
            }
            &:disabled {
                background-color: $color-g900;
                color: $color-g100;
                &:hover {
                    background-color: $color-g900;
                }
            }
        }
    }
}

button.club-button, button.cancel-button {
    float: right;
    margin-top: 2.5rem;
}

button.cancel-button {
    margin-right: 0.5rem;
    @include red-button;
}