div.booking-form {
    input#passwordEnter,
    input#emailEnter {
        min-width: 30.0rem;
        max-width: 70% !important;
    }
}

div.button-float-right {
    float: right;
}

button.tab-button {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: $color-p900;
    border: 1px solid $color-p300;
    border-bottom: 0px;
    padding: 0.5rem 1.0rem;
    &:hover {
        background-color: $color-c500;   
    }
    &.active {
        background-color: $color-p300;
        color: $color-p900;
    }
}

.pane-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.0rem;

    @include for-tablet-only() {
        grid-template-columns: 1fr 1fr;
    }
    @include for-phone-only() {
        grid-template-columns: 1fr;
    }

    .admin-pane {
        padding: 0.5rem 1.0rem;
        border-radius: 0.5rem;
        border: 1px solid $color-p300;
        background-color: lighten($color-p900, 2.5%);

        input[type=text], input[type=email] {
            width: 90%;
        }

        textarea {
            display: block;
            width: 90%;
            background-color: $color-c900;
            resize: none;
            padding: 0.1rem 1.0rem;
            border-radius: 0.5rem;
            margin-bottom: 0.75rem;
        }

        button {
            @include common-button;
            @include blue-button;
            &:hover {
                @include orange-button
            }
            &.confirm, &.edit-button {
                float: right;
                margin-left: 1.0rem;
            }
            &.edit-button {
                margin-top: 1.0rem;
            }
            &.reject {
                @include red-button;
            }
        }
    }
}

.invite-pane {
    max-width: 400px;

    input[type=text] {
        width: 100%;
    }
    
    button {
        @include common-button;        
        @include blue-button;
        &:hover {
            @include orange-button;
        }
    }

}

.success-box, .alert-box, .warn-box {
    position: fixed;
    width: 100%;
    max-width: 1200px;
    top: 0px;

    @include for-tablet-down() {
        max-width: calc(100% - 3.0rem);
    }
    p {
        padding: 0.5rem 1.0rem;
        display: inline;
        float: right;
        width: 250px;
        border-radius: 0.5rem;
        @include for-phone-only() {
            display: inline-block;
            float:none;
            width: 90%;
            margin: 10px auto;
            text-align: center;
        }
    }
}

.success-box {
    p {
        background-color: $color-lightgreen;
        border: 1px solid darken($color-lightgreen, 50%);
    }
}

.alert-box {
    p {
        background-color: $color-c700;
        border: 1px solid $color-c300;
        color: $color-c100;
    }
}

.warn-box {
    p {
        background-color: $color-light-red;
        border: 1px solid darken($color-light-red, 50%);
    }
}

.club-add-button {
    @include common-button;
    @include blue-button;
    float: right;
    &:hover {
        @include orange-button;
    }
}

.two-segment {

    p {
        padding: 0;
        margin: 0;
    }

    .button-container {
        margin-bottom: 1.0rem;
        
        button.left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-color: $color-g900;
            color: $color-g100;
            &:hover {
                @include orange-button;
            }
            &:disabled {
                @include grey-button;
            }
        }

        button.right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0 !important;
            background-color: $color-g900;
            color: $color-g100;
            &:hover {
                @include orange-button;
            }
            &:disabled {
                background-color: $color-g700;
                color: $color-g700;
                &:hover {
                    color: $color-g700;
                }
            }
        }

        button.right.active, button.left.active {
            @include blue-button;
            &:hover {
                @include blue-button
            }
            &:disabled {
                background-color: $color-g900;
                color: $color-g100;
                &:hover {
                    background-color: $color-g900;
                }
            }
        }
    }
}

button.club-button, button.cancel-button {
    float: right;
    margin-top: 2.5rem;

    &.no-top-margin {
        margin-top: 0;
    }
}

button.download-button {
    margin-right: 0.5rem;
}

button.cancel-button {
    margin-right: 0.5rem;
    @include red-button;
    &:disabled {
        background-color: $color-g900 !important;
        color: $color-g100 !important;
        border-color: $color-g300 !important;

        &:hover {
            background-color: $color-g900 !important;
        }
    }
}

.dropdown {
    max-width: 100%;
    select {
        max-width: 100%;
        display: block;
        border-radius: 0.25rem;
        margin-bottom: 0.75rem;
        padding: 0.3rem 1.0rem 0;
        min-height: 4.0rem;
        &:disabled {
            background-color: $color-g900;
            border: 1px solid $color-p300;
            /* for Firefox */
            -moz-appearance: none;
            /* for Safari, Chrome, Opera */
            -webkit-appearance: none;
            /* fallback */
            appearance: none;
            padding-right: 3.0rem;
        }
    }
}

.gender-selection, .date-selection , .club-selection {
    max-width: calc(50% - 1.0rem);
}

.gender-selection, .club-selection {
    display: inline-block;
}

.gender-selection {
    margin-right: 2.0rem;
}

.session-date {
    display: inline-block;
    width: 130px;
    input {
        min-width: 9rem !important;
        max-width: 90% !important;
    }
    margin-right: 2.0rem;
    
}

.racer-limit {
    display: inline-block;
    width: 100px;
    input {
        max-width: 90px !important;
        min-width: 5rem !important;
    }
}

.racer-lozenge {
    width: 400px;
    max-width: 100%;
    border-radius: 0.5rem;
    background-color: $color-g900;
    border: 1px solid $color-g300;
    padding: 0.5rem 1.0rem;
    margin-bottom: 1.5rem;

    @media (max-width:470px) {
        width: calc(100% - 2.0rem);
        min-height: 8.0rem;
    }

    &.verified {
        background-color: $color-p900;
        border: 1px solid $color-p300;
    }

    &.booked {
        background-color: $color-p900;
        border: 1px solid $color-p300;
    }

    .racer-name {
        display: inline-block;
        width: 220px;
        padding: 0.5rem 1.0rem 0.5rem 1.0rem;
        @media (max-width:470px) {
            width: calc(100% - 100px - 2.0rem);
            height: 7.0rem;
            vertical-align: middle;
            display: flex;
            align-items: center;
        }
    }

    button {
        float: right;
        &:hover {
            @include orange-button;
        }
        &:disabled {
            @include grey-button;
        }
        
        &.booking-button {
            @include common-button;
            @include blue-button;
            @media (max-width:470px) {
                margin-top: 2.0rem;
            }
        }
        
        &.booking-cancel-button {
            @include common-button;
            @include blue-button;
            margin-top: 0;
            margin-right: 1.0rem;
            
            @media (max-width:470px) {
                margin-top: 0.5rem;
            }
        }
    }

    .lozenge-container {
        @media (max-width:470px) {
            width: 90px;
            float: right;
        }
    }

    .lozenge {
        border-radius: 1.2rem;
        padding: 0.5rem 1.0rem 0.5rem 1.0rem;
        text-align: center;
        min-width: 5.0rem;
        color: $color-p900;

        @media (min-width: 471px) {
            float: right;
            display: inline;
        }

        @media (max-width:470px) {
            display: block;
            width: 60px;
            margin: 0 auto;
        }
    
        &.paid {
            background-color: green;
        }
    
        &.unpaid {
            background-color: $color-red;
        }

        &.unverified {
            background-color: $color-c500;
            color: $color-c100;
            @media (max-width:470px) {
                    margin: 0.75rem auto 0;
                }
        }

        &.booked {
            background-color: green;
            margin-right: 1.0rem;
            @media (max-width:470px) {
                margin: 0.5rem auto 0;
            }
        }
    }
}

.date-field {
    p {
        padding: 0;
        margin: 0;
    }
}

.email-para-container {
    textarea {
        display: block;
        width: 90%;
        resize: none;
        padding: 0.1rem 1.0rem;
        border-radius: 0.5rem;
        margin-bottom: 0.75rem;
        height: 10.0rem;
    }
}