.club-container {
    border-top: 3px solid $color_p300;
    padding: 1.5rem 0 1.5rem;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 1.0rem;

    @include for-tablet-down() {
        grid-template-columns: 20% 1fr;
    }

    .club-image {
        color: $color_p100;
        width: 100%;
    }

    .club-info {
        color: $color_p100;
    }

    a.club-link {
        display: inline-block;
        background-color: $color_p300;
        color: $color_p900;
        text-decoration: none;
        padding: 0.4rem 1.0rem 0.2rem;
        border-radius: 0.75rem;

        &:hover {
            background-color: $color_p500;
        }
    }
}