input {
    border: 1px solid $color_p300;
    display: block;
    min-width: 15rem;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1.0rem 0.5rem 1.0rem;
}

div.postcode-form, div.booking-form {
    input {
        display: inline-block;
    }
    button {
        margin-left: 1.0rem;
    }
}

div.postcode-form, div.booking-form, div.user-form, div.button-float-right {
    button {
        @include common-button;
        @include blue-button;
        &:hover {
            @include orange-button;
        }
    }
}

.user-form-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    label {
        input {
            width: 90%;
        }
        margin-bottom: 1.5rem;
    }

    @include for-tablet-only () {
        grid-template-columns: 1fr 1fr;
    }

    @include for-phone-only() {
        grid-template-columns: 1fr;
    }
}
