.banner-header {
    text-align: center;
}

.sponsor-logo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 630px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sponsor-logo-grid-item {
  width: 200px;
  margin: 1.0rem auto;

  @media (max-width: 700px) {
    width: 150px;
  }
}

.sponsor-image {
  width: 200px;
  height: auto;

  @media (max-width: 700px) {
    width: 150px;
  }
}
