.banner-header {
    text-align: center;
}

.sponsor-logo-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 2.0rem;

    @media (max-width: 630px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.sponsor-logo-grid-item {
    width: 100%;
    margin: 1.0rem auto;

    a {
        &:hover {
            &::before {
               height: 0;
            }
        }
    }
}

.sponsor-image {
    width: 100%;
    height: auto;
}

.panel-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.0rem;
    row-gap: 2.0rem;
    margin-top: 1.0rem;
    margin-bottom: 2.0rem;
    grid-auto-rows: 1fr;

    @include for-tablet-down() {
        grid-template-columns: repeat(2, 1fr);
    }

    div {
        display: grid;

        .panel {
            border: 1px solid $color_p700;
            border-radius: 1.0rem;
            padding: 1.0rem;

            h3 {
                margin-bottom: 0.5rem;
            }

            &:hover {
                background-color: $color_c500;
                color: $color_c100;
                border-color: $color_c100;

                a, p {
                    color: $color_c100;
                }

                h3 {
                    color: $color_c100 !important;
                }
            }

            a {
                color: $color_p900;
                text-decoration: none;

                &:hover {
                    &::before {
                        height: 0;
                    }
                }
            }
        
            p {
                font-size: 2.0rem;
                margin-bottom: 0;

                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }
}