a.year-lozenge-wrap {
    text-decoration: none;

    .year-lozenge {
        padding: 0.6rem 1.0rem 0.5rem;
        margin: 0.25rem 0.5rem;
        background-color: $color_p300;
        color: $color_p900;
        border-radius: 0.5rem;
        border: 0;
        display: inline-block;
        min-width: 40px;
        border: 1px solid $color_p300;

        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $color_c500;
            color: $color_c100;
            
        }
    }
    
    &::before {
        height: 0 !important;
    }
    
    .year-lozenge.this-year {
        background-color: $color_g700;
        color: $color_g100;
        border: 1px solid $color_c100;
    }
}

a.years-link {
    float: right;
    background-color: $color_p300;
    color: $color_p900;
    text-decoration: none;
    margin-top: 0.5rem;
    padding: 0.4rem 1.0rem 0.2rem;
    border-radius: 0.75rem;

    &:hover {
        background-color: $color_c500;
        color: $color_c100;

        &::before {
            height: 0px !important;
        }
    }
}