.slope-container {
    border-top: 3px solid $color_p300;
    padding: 1.5rem 0 1.5rem;
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 1.0rem;

    @include for-tablet-down() {
        grid-template-columns: 200px 1fr;
    }

    .slope-image {
        width: 100%;
        @include for-tablet-down() {
            width: 200px;
            height: 200px;            
        }
    }

    .slope-info {
        color: $color_p100;
    }

    a.slope-link {
        display: inline-block;
        background-color: $color_p300;
        color: $color_p900;
        text-decoration: none;
        padding: 0.4rem 1.0rem 0.2rem;
        border-radius: 0.75rem;

        &:hover {
            background-color: $color_c500;
            color: $color_c100;

            &::before {
                height: 0px !important;
            }
        }
    }
}