.sponsor-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.0rem;
    row-gap: 2.0rem;

    @include for-tablet-down {
        grid-template-columns: 1fr;
    }
}

.sponsor-card {
    padding: 1.0rem;
    border-radius: 1.0rem;
    box-shadow: transparentize($color_p300, 0.8) 0px 2px 4px -1px,
        transparentize($color_p300, 0.8) 0px 4px 5px 0px,
        transparentize($color_p300, 0.8) 0px 1px 10px 0px;
    float: right; 

    .sponsor-logo-grid-item {
        width: 200px;
        margin: 1.0rem auto;
    
        a {
            &:hover {
                &::before {
                    height: 0;
                }
            }
        }
        @media (max-width: 700px) {
            width: 150px;
        }   
    }
}

a.sponsor-carousel-image {
    &:hover {
        &::before {
            height: 0;
        }
    }
}

.carousel-hidden {
    opacity: 0 !important;
    transition-duration: 500ms;
    transition-property: opacity;
}

.carousel-visible {
    opacity: 1;
    transition-duration: 500ms;
    transition-property: opacity;
}
